<section id="contact">
  <div class="container">

    <div class="row text-justify text-center">
      <div class="col-md-12 text-center">

        <div class="large text-muted">
          Copyright © Conversational Search: From Fundamentals to Frontiers in the LLM Era
          <br><br>
        </div>

        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=sohCEQ7I3pgPZ3yoxf7CqgrNjmZbJFfyz-vj3q4B364'></script>

      </div>
    </div>
  </div>
</section>

