<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }

  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
</style>


<style>
  .row-opening,
  .row-closing {
    background-color: #e8f4fc;
  }

  .row-keynote {
    background-color: #fff2cc;
  }

  .row-discussion {
    background-color: #d9ead3;
  }

  .row-paper {
    background-color: #f9f9f9;
  }
</style>

<section id="schedule" class="{{include.class}}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Tutorial Schedule and Slides</h2>
        <!-- <h3>TBD</h3> -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p class="large text-muted">
          This is a half-day tutorial, scheduled to take place on the first day of SIGIR 2025 (13 July 2025), in CARRARESL, Floor 0 at the Padova Congress Center.
        </p>
      </div>
    </div>

    <div class="row">
  <div class="col-lg-12">
    <table style="width:100%; text-align:left">
      <tr>
        <th style="width:20%">Time</th>
        <th style="width:80%">Session</th>
      </tr>

      <tr class="row-opening">
        <td>9:00 – 10:30</td>
        <td><strong>Part I: Fundamentals of Conversational Search</strong><br>
          • Introduction to conversational search<br>
          • Conversational search paradigms<br>
          • Mixed initiatives<br>
          • <em>Discussion</em>
        </td>
      </tr>

      <tr>
        <td>10:30 – 11:00</td>
        <td><strong>Break</strong></td>
      </tr>

      <tr class="row-keynote">
        <td>11:00 – 12:30</td>
        <td><strong>Part II: Emerging Topics in the LLM Era</strong><br>
          • Conversational search with LLM-based generation<br>
          • Personalized conversational search<br>
          • Automatic evaluation for conversational search<br>
          • Agentic conversational search<br>
          • Conclusions and future directions<br>
          • <em>Discussion</em>
        </td>
      </tr>
    </table>
  </div>
</div>


  </div>
</section>

