<section id="about" style="padding-top: 30px;" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About the tutorial</h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-12">
                <p class="large text-muted">
                    Conversational search enables multi-turn interactions between users and systems to fulfill users' complex information needs. During this interaction, the system should understand the users' search intent within the conversational context and then return the relevant information through a flexible, dialogue-based interface. The recent powerful large language models (LLMs) with capacities of instruction following, content generation, and reasoning, attract significant attention and advancements, providing new opportunities and challenges for building up intelligent conversational search systems.
                    <br><br>
                    We are excited to announce the tutorial, titled "<b>Conversational Search: From Fundamentals to Frontiers in the LLM Era</b>," co-located with the 48th International ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR 2025), from 13th to 17th July 2025 in Padua, Italy.
                    <br><br>
                    This tutorial aims to introduce the connection between fundamentals and the emerging topics revolutionized by LLMs in the context of conversational search. It is designed for students, researchers, and practitioners from both academia and industry. Participants will gain a comprehensive understanding of both the core principles and cutting-edge developments driven by LLMs in conversational search, equipping them with the knowledge needed to contribute to the development of next-generation conversational search systems.
                </p>

            </div>
        </div>
    </div>
</section>